@charset "utf-8";

/* ///////////////////////////////////////////////// basic */

/* basic */html,body,header,article,section,nav,aside,footer,div,h1,h2,ul,ol,dl,li,dt,dd,img,p,table,tr,th,td{margin:0;padding:0}

img{max-width:800px}

@media screen and (max-width:1279px){
img{max-width:100%;height:auto;width/***/:auto}
}

html{overflow-y:scroll}

table{border-collapse:collapse;border-spacing:0;}
/* list-style */ul,ol{margin-left:1.5em}nav ul{margin-left:0em}
a{border-bottom:1px dotted #aaa;color:#08d;text-decoration:none}
a:hover{border-bottom:1px solid #06f;color:#333}


/* ///////////////////////////////////////////////// rayout */
/*body{line-height:1.9em}*/
body{margin:0 auto; width:750px;line-height:1.9em}

/* header,nav,section,footer{padding:0 13% 2.2em} */
/* Ushio added in 2014.10.10*/
/*header,nav,section{padding:0 13% 2.2em}*/
header,section{padding:0 5% 1%}
footer{
padding:0 13% 2.2em;
text-align:center;
}

@media screen and (max-width:1279px){header,nav,section,footer{padding:0 0 1.2em}}

/* Ushio added in 2014.10.10*/
#site-box
{
margin: 0 auto;
text-align:left;
width:100%;
}
/* Ushio added in 2014.10.10*/



/*header{padding:4.3em 13% 4.3em;line-height:2.5em}*/
header{margin: 0 auto; padding: 2.5em 13% 2.5em; line-height:2.5em}

section{padding:1.2em 5% 6.2em}
section,section h2,h3{margin:1.5em 0 .3em;clear:both}

.lft{float:left;padding:0 1.3em 2.5em 0}/* class float */
.clear{clear:both}
.pub li{padding-bottom:1.2em}/* publications only */

@media screen and (max-width:1279px){.lft{float:none}header,footer{padding:2.2em 6% 2.2em;line-height:2.2em}section{padding:0 6% 3.2em}}


/* ///////////////////////////////////////////////// color */
header{color:#7eb1fc;background:rgba(0,0,70,0.06)}

/* title only */
header h1 a{color:#036;border:none}
header h1 a:hover{color:#036;border:none}
header h1 a .blue{color:#08c;border:none}
header h1 a:hover .blue{color:#0ad;border:none}

h3{color:#08c}

footer{background-color:rgba(0,0,0,0.07)}

/* ///////////////////////////////////////////////// font */

/* font-family */
html{font-family:Helvetica,"メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif}
header h1{font-family:Georgia, "Times New Roman", Times, serif}

/* font-size */
header h1{font-size:/*163%*/225%}
h1{font-size:137%}
h2,nav h1{font-size:119%}
footer{font-size:75%}
nav{font-size:100%/*87.5%*/}
header h1 strong{font-size:100%;}

.wbig{font-size:137%}

/* ///////////////////////////////////////////////// border */
header{border-bottom:1px solid #dadae9}

section h2,h3{border-bottom:1px solid #dadae9}
/*
footer{border-top:1px solid #dadae9}
*/

/* ///////////////////////////////////////////////// other */
body{background-image:url(bg.png)}

/* jp-en only */
.switch{font-size:87.5%;padding:.3em 13% .3em;border-bottom:1px solid #cacadb;background:rgba(0,0,60,0.15)}
.switch a{border-bottom:1px solid #07f;color:#333}
.switch a:hover{border-bottom:1px solid #333;color:#09f;text-decoration:none}

/* sheet list only */
.shelf dt{float:left;clear:both;width:10em}
.shelf dd{margin-left:10em}


nav li
{/* Ushio added in 2014.10.10*/
float:left;
width:16.66%;
list-style-type:none;
text-align: center;
/*box-sizing: border-box;
border:2px #b0c4de solid;
margin-right: 0.55%;*/
/*display:inline*/
}



/* nav only */
/* nav li a{display:block;border-left:1px solid #dadada;border-bottom:1px solid #dadada;padding:1em 2.2em 1em;background:rgba(0,0,80,0.03); width:106px} */
nav li a {
/* Ushio added on 2014.10.10*/
display:block;
padding:5% 0 5%;
border-left:1px solid #dadada;
border-bottom:1px solid #dadada;
/*padding: 0.25%;
padding-top: 0.2%;
margin-right: 0.55%;*/
background:rgba(0,0,80,0.03);
/*width:106px*/
/* Ushio added on 2014.10.10*/
}
nav li a:hover{color:#000;border-bottom:1px solid #dadada;background:rgba(255,255,255,1)}
.rline a{border-right:1px solid #dadada}

@media screen and (max-width:1279px){.switch{padding:.3em 6% .3em}nav li a{padding:.2em 6% .2em;float:none;border-left:none}.rline a{border-right:none}}
@media screen and (max-width:720px){nav li a{padding:.1em 6% .1em}}

/*.markin{color:#000;font-weight:bold;background:rgba(50,165,100,.4);padding:.3em .4em .3em}*/
.markin{color:rgba(30,180,100,1);font-weight:bold;padding:.3em .4em .3em}

/*
@media screen and (max-width:979px){article{border:transparent}h2{border-bottom:1px solid #dedede}}
*/